{% extends 'base.html' %} 
{% block content %}    
<center>
   <br></br>
   <h4>Find low-cost flights:</h4>
   <br></br>  
   <form action="/showdata/" method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Submit" class="btn btn-primary"/>
   <form>
</center>
<br></br>

{% if success %}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-primary">Number of passangers:</li>
  <li class="list-group-item list-group-item-secondary">{{item.adultNumber}}</li>
</ul>
<br> </br>
{% for i in item.results %}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-primary">Flight option:</li>
  <li class="list-group-item list-group-item-secondary">{{forloop.counter}}</li>
</ul>
{% for j in i.itineraries %}
<div class="p-3 mb-2 bg-primary text-white">Duration: {{ j.duration }}</div>
{% for k in j.segments %}
<ul class="list-group">
  <li class="list-group-item list-group-item-primary"> Departure: <table class="table table-hover table-info"><tr><th scope="col">time</th><th scope="col">iata code</th><th scope="col">terminal</th></tr><tr><td>{{ k.departure.at }}</td><td>{{ k.departure.iataCode }}</td><td>{{ k.departure.terminal }}</td></tr></table></li>
  <li class="list-group-item list-group-item-secondary"> Arrival: <table class="table table-hover table-dark"><tr><th>time</th><th>iata code</th><th>terminal</th></tr><tr><td>{{ k.arrival.at}}</td><td>{{ k.arrival.iataCode }}</td><td>{{ k.arrival.terminal }}</td></tr></table></li>
</ul>
{% endfor %}

{% endfor %}
<div class="bg-secondary text-white">
  <ul class="list-group">
   <li class="list-group-item">{{i.price.currency}}</li><li class="list-group-item active">{% widthratio i.price.total 1 item.adultNumber %}</li> 
  </ul>
</div>
<br ></br>
{% endfor %}

{% endif %}

{% endblock %}

